[phases.setup]
nixPkgs = ["python311", "gcc", "glib", "libGL"]

[phases.install]
cmds = [
  "pip install --upgrade pip",
  "pip install --no-cache-dir -r requirements.txt"
]

[phases.build]
cmds = []

[start]
cmd = "python -m iopaint start --host 0.0.0.0 --port $PORT --model lama --device cpu --no-half --low-mem"
